{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "semi": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "printWidth": 160,
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": true
}